.current-job-header input {
	width: 50%;
}

.date-row {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.description input {
	width: 100%;
}

.career-bottom {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.work-history button {
	width: 100%;
	font-size: 16px;
	padding: 10px;
	display: block;
	border-radius: 4px;
}

.work-history button:hover {
	font-size: 16px;
	border: 2px solid red;
}

.previous-job-header input {
	width: 50%
}
