.header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 16px;
}

.address {
	display: flex;
	flex-direction: column;
}

.address input {
	margin-bottom: 16px;
}

.city-row {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 16px;
}
