.header {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.address {
	display: flex;
	flex-direction: column;
}

.city-row {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
