/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

body {
	background-color: rgb(205,92,92);
	margin: 0;
}

input {
	margin-bottom: 16px;
}

.container {
	position: fixed;
	top: 10%;
	left: 50%;
	transform: translate(-50%);
	background-color: white;
	box-shadow:  0 2px 5px rgba(0,0,0,0.3);
	border-radius: 5px;
	overflow: hidden;
	width: 950px;
	max-width: 100%;
}

.cv-header {
	background-color: rgb(220,220,220);
	padding: 20px 40px;
	border-bottom: rgb(240,240,240);
	display: flex;
	justify-content: center;
}

.cv-header h2 {
	margin: 0;
	font-size: 32px;
	font-weight: bold;
}

.cv-form {
	display: flex;
	flex-direction: column;
	padding: 30px 40px;
	flex: 1 1 auto;
  overflow-y: scroll;
  height: 80vh;
}

.cv-form label {
	display: inline-block;
	margin-bottom: 5px;
	margin-right: 5px;
	font-weight: bold;
}

.cv-form input {
	border: 2px solid rgb(230,230,230);
	border-radius: 4px;
	padding: 10px;
	font-size: 14px;
}

.border {
	display: flex;
	justify-content: flex-end;
}

.border button {
	border: none;
	background-color: white;
	cursor: pointer;
}

.border button:hover {
	color: red;
}

.hidden {
	display: none;
}

.section-divider {
	border-bottom: 2px dashed black;
}

.submit-container {
	margin-top: 16px;
}

.submit-container button {
	background-color: #5ccd5c;
	width: 100%;
	font-size: 16px;
	padding: 10px;
	display: block;
	border-radius: 4px;
}
